#accordion{
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

@media (min-width: 760px) {
  #accordion {
    width: 60%;
  }
}
.accordion-headers {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: teal;
  margin: 10px auto;
  color: white;
  padding: 0 20px;
  justify-content: space-between;
}
.toggle-indicator{
  font-size: 40px;
}
.accordion-description {
  height: 0px;
  overflow: hidden;
  background-color: lightgreen;
  transition: height 1s;
}
.accordion-open {
  height: 100px;
  padding: 10px 20px;
  transition: height 1s;
}
